html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.display-linebreak {
  white-space: pre-line;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #c2e4ef;
  }
}

@font-face {
  font-family: 'Oleo Script Regular';
  src: url(../public/fonts/OleoScript-Regular.ttf);
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Roman';
  src: url(../public/fonts/AvenirLTStd-Roman.otf);
  font-style: normal;
}

.title {
  font-family: 'Oleo Script Regular';
}

.text {
  font-family: 'Avenir Roman';
  font-size: 20px;
  color: black;
}
